In [8]:
empty_list = [1,3,"năm"]
type(empty_list)

list

In [9]:
empty_list

[1, 3, 'năm']

In [10]:
print(empty_list)

[1, 3, 'năm']

In [22]:
x=[34,"baz",5, [3,5,2]]
x[3][1]

5

In [23]:
x[-3][-1]

'z'

In [36]:
s='123456677777'
s[3:7]

'3456677777'

In [39]:
s[2:]

'3456677777'

In [37]:
s[:]

'123456677777'

In [40]:
num = [0,1,2,3,4,5,6,7,8,9,10]
num[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
num[1:10:2]

[1, 3, 5, 7, 9]

In [43]:
num[0:10:3]

[0, 3, 6, 9]

In [44]:
num[0::3]

[0, 3, 6, 9]

In [45]:
num[::1]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [46]:
num[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [47]:
cars=["toyota", "madza"]
cars

['toyota', 'madza']

In [ ]:
cars.append(["ford", "honda"]) #add một mảng vào một list
cars

In [ ]:
cars.extend(["ford", "bende"]) #add từng phần tử vào một list
del cars[4:13]
cars

In [ ]:
cars.insert(1,"abc")
cars

In [2]:
banks= [1,2,3] # bank list là mubtable có thể thay đổi được
banks.append(4)
banks_tuple=(1,2,3) #bank typle là im mutable không thay đổi được
banks_tuple.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [3]:
banks

[1, 2, 3, 4]

In [5]:
char_tuple=tuple("loppython")
char_tuple

('l', 'o', 'p', 'p', 'y', 't', 'h', 'o', 'n')

In [10]:
nameage= dict(a=12, b=5,c=6)
abc={12:12, "a":3}
nameage
abc

{12: 12, 'a': 3}

In [11]:
nameage['a']

12

In [13]:
nameage.keys()

dict_keys(['a', 'b', 'c'])

In [14]:
nameage.values()

dict_values([12, 5, 6])

In [1]:
list2 = [1, 2, 3, 4, 5, 6, 7 ]
print("list2[1:5]: ", list2[1:5])

list2[1:5]:  [2, 3, 4, 5]

In [3]:
list1=[10,20]
print(list1*2)

[10, 20, 10, 20]

In [5]:
my_list = [10, 21, 21, 40, 40, 52, 52, 1, 1, 2, 2, 2, 2, 11, 11, 11, 11, 25, 24, 24, 60, 40]
my_list.count(10)

1

In [12]:
aList = [123, 'xyz', 'hoang', 'abc', 123]
bList = (2015, 'nam')
aList.extend(bList)
aList

[123, 'xyz', 'hoang', 'abc', 123, 2015, 'nam']

In [15]:
aList = [123, 'xyz', 'hoang', 'abc']
print ("B List : ", aList.pop(2))
aList

B List :  hoang

[123, 'xyz', 'abc']

In [17]:
A = [4,5,6,7,8]
print(A[1:3])
print(A[1:4])
print(A[:4])
print(A[1:])
print(A[:])

[5, 6]
[5, 6, 7]
[4, 5, 6, 7]
[5, 6, 7, 8]
[4, 5, 6, 7, 8]

In [26]:
A = list(range(0,10,2))
A[-2:-11:-1]

[6, 4, 2, 0]

In [27]:
tupl1='a','hoang',10.56
tupl2=tupl1,(10,20,30)
print(tupl1)
print(tupl2)

('a', 'hoang', 10.56)
(('a', 'hoang', 10.56), (10, 20, 30))

In [28]:
data=(10,20,'hoang',40.6,'z')
print(data)
del data

(10, 20, 'hoang', 40.6, 'z')

TypeError: 'tuple' object doesn't support item deletion

In [34]:
data1=[10,20,30]
data2=(40,)
data3=data2+tuple(data1)
print(data3)

(40, 10, 20, 30)

In [39]:
aList = [123, 'xyz', 'hoang', 'abc']
aTuple = tuple(aList)
aTuple

(123, 'xyz', 'hoang', 'abc')

In [40]:
data1={'Id':100, 'Ten':'Thanh', 'Nghenghiep':'Developer'}
data2={'Id':101, 'Ten':'Chinh', 'Nghenghiep':'Trainer'}
data1['Nghenghiep']='Manager'
data2['Mucluong']=17000000
data1['Mucluong']=12000000
print(data1)
print(data2)

{'Id': 100, 'Ten': 'Thanh', 'Nghenghiep': 'Manager', 'Mucluong': 12000000}
{'Id': 101, 'Ten': 'Chinh', 'Nghenghiep': 'Trainer', 'Mucluong': 17000000}

In [43]:
dict = {'Ten': 'Hoang', 'Tuoi': 20}
print ("Bieu dien chuoi tuong duong la : %s" % str (dict))

Bieu dien chuoi tuong duong la : {'Ten': 'Hoang', 'Tuoi': 20}

In [47]:
dict = {'Ten': 'Hoang', 'Tuoi': 20}
type (dict)

dict

In [50]:
dict = {'Ten': 'Hoang', 'Tuoi': 7}
print("dict['Ten']: ", dict['Ten'])

dict['Ten']:  Hoang

In [52]:

dict = {'Ten': 'Hoang', 'Tuoi': 20}

print ("Gia tri : %s" %  dict.setdefault('Tuoi', None))
print ("Gia tri : %s" %  dict.setdefault('Gioitinh', 'Nữ'))
dict

Gia tri : 20
Gia tri : Nữ

{'Ten': 'Hoang', 'Tuoi': 20, 'Gioitinh': 'Nữ'}

In [53]:
#set là tajop một tạp hợp mà các phần tử ko trùng nhau
my_set = {1.0, "Xin chào", (3, 2, 1)}
print("TM_Set=",my_set)

TM_Set= {'Xin chào', 1.0, (3, 2, 1)}

In [56]:
my_set = set("Techmaster.vn")
print(my_set)

{'c', 't', 'a', 'h', 'r', 'm', '.', 'T', 'e', 'v', 's', 'n'}

In [57]:
print(my_set.pop())

c

In [58]:
my_set.clear()
print(my_set)

set()

In [60]:
old_list = [1, 2, 3, 4, 5]
# basic looping 
new_list_1 = []
for number in old_list:
    new_list_1.append(number * number)

# list comprehension
new_list_2 = [number * number for number in old_list]
new_list_2

[1, 4, 9, 16, 25]

In [74]:
my_list = [10, 21, 21, 40, 40, 52, 52, 1, 1, 2, 2, 2, 2, 11, 11, 11, 11, 25, 24, 24, 60, 40]
from typing import Counter
Counter(my_list)

Counter({10: 1, 21: 2, 40: 3, 52: 2, 1: 2, 2: 4, 11: 4, 25: 1, 24: 2, 60: 1})

In [2]:
import re
pattern = "^([a-zA-Z.]+)@([a-z.]+\.[a-z]{2,3})" 
search_string = """tgg some.user@example.com
hang.nguyen@onemount.vn fsdfassda fsdf
""" 
match = re.search(pattern, search_string, re.MULTILINE) 
 
if match: 
    domain = match.groups()[1] 
    print(domain)
    print(match.groups()[0])

onemount.vn
hang.nguyen

In [3]:
n=4
for i in range(1, 2*n):
    if i < n:
        for j in range(1, i + 1):
            if j == 1 or j == i:
                print("*", end=" ")
            else:
                print(" ", end=" ")
    elif i == n:
        for j in range(1, 2*n+1):
            print("*", end=" ")
    else:
        for j in range(1, 2*n + 1):
            if j == 2*n or j == i+1:
                print("*", end=" ")
            else:
                print(" ", end=" ")
    print()

*
* *
*   *
* * * * * * * *
          *   *
            * *
              *